
/*Corp*/
body {
    margin-right: 15%;
    margin-left: 15%;
}

/*Linkurile*/
thead a, a:visited {
    text-decoration: none;
    font-family: segoe UI;
    font-size: 13px;
    font-weight: initial;
    color: #575757;
}
thead a:hover {
    color: #00baff;
}
thead a:active {
    color: #f42222;
}

/*Tabel*/
table {
    width: 100%;
}
table, th, td,tr {
    border: 1px solid black;
}

/*Titlul*/
thead tr > :first-child {
    font-family: segoe UI;
    font-size: 1.6em;
    font-weight: initial;
    float: left;
    color: #575757;
}

/*Corp tabel*/
tbody :first-child > :first-child {
    font-family: segoe UI;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
tbody > :first-child {
    background-color: #f42222;
}
.n2 {
    text-align: center;
}
.n2  a, .n2 a:visited {
    text-decoration: none;
    font-family: segoe UI;
    font-size: 13px;
    font-weight: initial;
    color: #fff;
}
.titlu {
    font-family: segoe UI Light;
    color: #575757;
    font-size: 24px;
}
.descr {
    font-family: segoe UI;
    color: #575757;
    font-size: 14px;
    
}
.cod {
    font-family: segoe UI;
    font-size: 12px;
/*    text-align: center;*/
}

/*Footer*/
tfoot {
    text-align: center;
    font-family: segoe UI Light;
    font-size: 12px;
    font-weight: initial;
    color: #575757;
}