body {
    overflow: hidden;
    background: -webkit-radial-gradient(#dd1820, #9b1c1f); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#dd1820, #9b1c1f); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#dd1820, #9b1c1f); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#C40000, #610002); /* Standard syntax */
}
#tot {
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
    z-index: 1;
}
#merry
{
  font-family : 'Roboto';
  font-weight: 900;
  font-size : 60px;
  letter-spacing : 0.6px;
  text-transform : uppercase;
  color : #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
#chrismas
{
  font-family : 'Roboto';
  font-weight: 100;
  font-size : 24px;
  letter-spacing : 4.8px;
  text-transform : uppercase;
  color : #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
.texA {
  width: 500px;
  height: 500px;
  background-color: #000;
  position: relative;
  z-index: 9;
}