body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    border-color: #eee;
    font-family: 'Roboto';
    color : #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 24px;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shadow {
    position: absolute;
    z-index: 2;
    width: 112px;
    height: 56px;
    right: 0;
    background: #000;
    opacity: .06;
}

.brad-cell {
    line-height: 0;
}

.brad {
    width: 220px;
}

.margina {
    border: 1px solid #eee;
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.merry
{
    font-weight: 900;
    font-size: 2.7em;
    letter-spacing : 0.6px;
    text-transform : uppercase;
    margin: 0 auto;
    text-align: center;
    line-height: 56px;
}

.chr
{
    font-weight: 100;
    font-size: 1.4em;
    letter-spacing : 4.8px;
    text-transform : uppercase;
    margin: 0 auto;
    text-align: center;
}

tfoot tr td {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 0.4em;
    letter-spacing: 2px;
}

/* Slider de text */

.slider-container {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 56px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    line-height: 58px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2.7em;
    letter-spacing: 0.6px;
    text-align: center;
    color: #fff;
}

.layer-master {
    position: relative;
    width: 220px;
    height: 56px;
    margin: 0 auto;
    line-height: 58px;
    -webkit-animation: anim 0.1s steps(6) 25,
                       anim 14s 3s linear infinite;
    -moz-animation: anim 0.1s steps(6) 25,
                    anim 14s 3s linear infinite;
    -ms-animation: anim 0.1s steps(6) 25,
                   anim 14s 3s linear infinite;
    -o-animation: anim 0.1s steps(6) 25,
                  anim 14s 3s linear infinite;
    animation: anim 0.1s steps(6) 25,
               anim 14s 3s linear infinite;
}

@-webkit-keyframes anim {
    from {top: 0;}
      to {top: -336px;}
}

@-moz-keyframes anim {
    from {top: 0;}
      to {top: -336px;}
}

@-ms-keyframes anim {
    from {top: 0;}
      to {top: -336px;}
}

@-o-keyframes anim {
    from {top: 0;}
      to {top: -336px;}
}

@keyframes anim {
    from {top: 0;}
      to {top: -336px;}
}

/* Text slider end */